@media  (min-width:300px) {

body {
    background-color: #f4f1de;
    color: #3d405b;
    margin-top: 80px;
}

.question, label {
    font-size: 20px;
    padding: 15pt;
}

main {
    text-align: left;
}

header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #f4f1de;
        align-items: center;
        box-shadow: 0 0 25px 0 black;
      }
    
      header li {
        display: inline;
        margin: 20px;
      
      }
    
      header li a {
        color: #3d405b;
        text-decoration: none;
}

.question > div {
    text-align: left;
}
}

@media  (min-width:760px) {

    body {
        background-color: #f4f1de;
        color: #3d405b;
    }

    
    .question, label {
        font-size: 20px;
        padding: 15pt;
    }
    
    main {
        grid-area: 2/2/3/3;
        
    }
    
    
    .question > div {
        text-align: left;
    }
section {
    background-color: #f4f1de;
    color: #3d405b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #f4f1de;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
  }

  header li {
    display: inline;
    margin: 20px;
  
  }

  header li a {
    color: #3d405b;
    text-decoration: none;} }