/* body {
    background-image: url(/Images/shop-exterior.jpg);
    min-width: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 1;
} */

/* main {
    display: flex;
    align-items: center;
    justify-content: right;

} */
body {
    display: grid;
    grid-template-rows: 60% 40%;
}


.featured-pic {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr;
    background-image: url(/Images/shop-exterior.jpg);
    /* background-size: cover;
    width: 300px;
    height: 300px;
    border: 2px solid; */

}

.content {
    grid-column: 2/3;
}

